@charset "UTF-8";
* {
    box-sizing: border-box;
}

body {
    padding: 0rem 0rem;
    font-size: 1.3rem;
    line-height: 1.2;
    max-width: 80rem;
    margin: 0 auto;
    color: #333;
    font-family: "Arial Black", Gadget, sans-serif;
    margin-left: .1em;
    margin-right: .1em;
}

img {
    max-width: 100%;
}

table {
    border-collapse: collapse;
    font-size: .8em;
    font-family: "Verdana", "Arial", Gadget, sans-serif;
}

.container::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}


/* For desktop: */

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.header {
    text-align: center;
    padding: 0;
    background-color: #f1f1f1;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    margin: 0;
    padding: 0;
    height: 100em;
}

.searchInputText {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('/img/search.png');
    background-position: .5em 1em;
    background-repeat: no-repeat;
    background-size: 1.2em 1.2em;
    padding: 1em 2em 1em 2em;
    margin-bottom: 1em;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
    
}

.modal-content img{
    height: 50px;
    width: 50px;
}
.modal-content input[type=text] {
 font-size: 16px; 
 width: 100%;
}

.addSubmitBtn{
  margin-left: 83%;
  margin-right:2%;
  width: 15%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.logo {
    background-color: black;
}

.logoimg {
    background-color: white;
    clip-path: circle(100px at center);
    padding: .4rem 0;
}

.smalltext {
    font-size: 1.0rem;
}

@media screen and (max-width: 900px) {
    .header {
        width: 100%;
        height: auto;
        position: relative;
        margin-bottom: 1.5em;
    }
    /* let small text disappear */
    .smalltext {
        font-size: 0.0rem;
    }
    [class*="col-"] {
        width: 100%;
    }
    table {
        border: none;
    }
    /* display the whole table as a block */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
    /* Hide the headers */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: 1px solid #ccc;
        margin-bottom: .1em;
    }
    tr:nth-of-type(odd) {
        background: #f1f1f1;
    }
    td {
        /* Behave like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 10%;
    }
    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 1px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    /* Label the data */
    td:nth-of-type(1):before {
        content: "";
    }
    td:nth-of-type(5) {
        padding-left: 80%;
    }
}


/* styles for larger devices */

@media (min-width:900px) {
    tr:nth-child(2n+1) {
        background-color: #f1f1f1;
    }
    table thead tr:nth-child(n) {
        background-color: #ccc;
        color: #000;
        text-align: left;
    }
    form button {
        background-color: #fff;
        border: 0em;
    }
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

.deleteBtn{
    height: 50px;
    width: 50px;
    
}